In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime
import itertools as itt
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')

In [3]:
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
428,tt1270761,25000000,36993168,Don't Be Afraid of the Dark,Katie Holmes|Guy Pearce|Bailee Madison|Alan Da...,Troy Nixey,Fear is never just make believe,A young girl sent to live with her father and ...,99,Fantasy|Horror|Thriller,Miramax Films|Gran Via Productions|FilmDistric...,11/6/2010,5.4,2010
43,tt2224026,135000000,368871007,Home,Jim Parsons|Rihanna|Steve Martin|Jennifer Lope...,Tim Johnson,Worlds Collide,When Earth is taken over by the overly-confide...,94,Fantasy|Comedy|Animation|Science Fiction|Family,Twentieth Century Fox Film Corporation|DreamWo...,3/18/2015,6.9,2015
1668,tt0349710,60000000,74541707,Ladder 49,Joaquin Phoenix|John Travolta|Jacinda Barrett|...,Jay Russell,Their greatest challenge lies in rescuing one ...,"Under the watchful eye of his mentor, Captain ...",115,Drama|Action|Thriller,Casey Silver Productions|Beacon Communications...,10/1/2004,6.0,2004

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [5]:
data.shape

(1889, 14)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [7]:
#------------------------------------------------------------------------------#
answers = {} # создадим словарь для ответов


data["profit"] = data.revenue - data.budget # Создадим колонку прибыль  

# создадим две функци, что бы в слудующих задачах не писать один и тот же код

def df_explode (data, columns):
    '''
    
    Метод принимает DataFrame(data) и Значения столбцов (columns)
    Столбцы в себе хранят данные с расделителем "|"
    Метод возращает DataFrame с разделенными значениями
    в столбцах(columns)
    
    '''
    data_def = data.copy()
    for col in columns:
        data_def[col] = data_def[col].str.split("|")
        data_def = data_def.explode(col)
    return data_def



def string_to_date (data):
    '''
    
    Метод принимает DataFrame(data) в котором есть строка release_date
    с датой формата "%d/%m/%Y. Преобразует данную в строку в date 
    и возращает новую базу данных
    
    '''
    data_copy = data.copy()
    data_copy.release_date = pd.to_datetime(data_copy.release_date)
    return data_copy

# 1. У какого фильма из списка самый большой бюджет?

In [8]:
#------------------------------------------------------------------------------#
answers['1'] = "723. Pirates of the Caribbean: On Stranger Tides (723)"
# +

In [9]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №1")
data[(data.budget == data.budget.max())][["imdb_id", "original_title",
                                          "budget"]]

Ответ на вопрос №1

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

ВАРИАНТ 2

In [10]:
print("Ответ на вопрос №1, Вариант решение 2")
data[["imdb_id", "original_title",
      "budget"]].sort_values("budget", ascending=False).head(1)

Ответ на вопрос №1, Вариант решение 2

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
answers['2'] = '1157.Gods and Generals (tt0279111)'
# +

In [12]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №2")
data[data["runtime"] == data["runtime"].max()][["imdb_id", "original_title",
                                                "runtime"]]

Ответ на вопрос №2

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = "768.Winnie the Pooh (tt1449283)"
# +

In [14]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №3")
data[data["runtime"] == data["runtime"].min()][["imdb_id", "original_title",
                                                "runtime"]]

Ответ на вопрос №3

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [15]:
answers['4'] = 110
# +

In [16]:
print("Ответ на вопрос №4")
data.runtime.mean()

Ответ на вопрос №4

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [17]:
answers['5'] = 107
# +

In [18]:
print("Ответ на вопрос №5")
data.runtime.median()

Ответ на вопрос №5

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
answers['6'] = "239.Avatar(tt0499549)"
# +

In [20]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №6")
data[data["profit"] == data["profit"].max()][["imdb_id", "original_title",
                                            "profit"]]

Ответ на вопрос №6

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

 # 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = "1245.The Lone Ranger(tt1210819)"
# +

In [22]:
#------------------------------------------------------------------------------#
answers['7'] = "1245.The Lone Ranger(tt1210819)"
# +
print("Ответ на вопрос №7")
data[data["profit"] == data["profit"].min()][["imdb_id", "original_title",
                                              "profit"]]

Ответ на вопрос №7

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = "1478" 
# +

In [24]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №8")
# просто отсортируем и посмотрим кол-во строк dataframe. p.s. сэкономим
# p.s. сэкономим чутка памяти компьютера  
data[(data["budget"] < data["revenue"])].shape

Ответ на вопрос №8

(1478, 15)

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = "599.The Dark Knight(tt0468569)"
# +

In [26]:
#------------------------------------------------------------------------------#
# Вариант 1.
print("Ответ на вопрос №9. Вариант решениея №1")
data[(data["release_year"] == 2008)].sort_values(by="profit",
                                                 ascending=False).\
     head(1)[["imdb_id", "original_title", "revenue"]]

Ответ на вопрос №9. Вариант решениея №1

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

In [27]:
# Вариант 2. Сложный с подзапросом.
print("Ответ на вопрос №9. Вариант решениея №2")
data[(data["profit"] == (data[(data["release_year"] == 2008)]["profit"].\
                         max()))][["imdb_id","original_title","revenue"]]

Ответ на вопрос №9. Вариант решениея №2

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
answers['10'] = "1245.The Lone Ranger(tt1210819)"
# +

In [29]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №10. Вариант 1")
data[(data["release_year"] < 2015) & (data["release_year"] > 2011)].\
     sort_values(by="profit").head(1)[["imdb_id","original_title","revenue"]]

Ответ на вопрос №10. Вариант 1

        imdb_id   original_title   revenue
1245  tt1210819  The Lone Ranger  89289910

In [30]:
#------------------------------------------------------------------------------#
# Вариант 2. Сложный с подзапросом.
print("Ответ на вопрос №10. Вариант 2")
data[(data["profit"] == (data[(data["release_year"] < 2015)
                              & (data["release_year"] > 2011)]["profit"].min()
                        ))][["imdb_id","original_title","revenue"]]

Ответ на вопрос №10. Вариант 2

        imdb_id   original_title   revenue
1245  tt1210819  The Lone Ranger  89289910

# 11. Какого жанра фильмов больше всего?

In [31]:
answers['11'] = "Drama"
# +

In [32]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 1

In [33]:
data_copy_for_11 = data.copy()
data_copy_for_11.genres = data_copy_for_11.genres.str.split("|")

In [34]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №11. Вариант 1")
# Первый и самый сложный вариант решения. Зато он без использования explode
counter_ = Counter() # создаем счетчик который будет считать наши жанры
for list_ in data_copy_for_11.genres: # и теперь проходимся по всем жанрам  
    counter_.update(Counter(list_)) # и обновляем наш счетчик
counter_.most_common(1)

Ответ на вопрос №11. Вариант 1

[('Drama', 782)]

ВАРИАНТ 2

In [35]:
#  метод df_explode описан в проработке
data_copy_for_11_v2 = df_explode(data, ["genres"])

In [36]:
print("Ответ на вопрос №11. Вариант 2")
data_copy_for_11_v2.genres.value_counts().head(1)

Ответ на вопрос №11. Вариант 2

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 3

In [37]:
print("Ответ на вопрос №11. Вариант 3")
data_copy_for_11_v2.genres.mode()

Ответ на вопрос №11. Вариант 3

0    Drama
dtype: object

ВАРИАНТ 4

In [38]:
print("Ответ на вопрос №11. Вариант 4")
data_copy_for_11_v2["genres"].describe(include=['object']).top

Ответ на вопрос №11. Вариант 4

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [39]:
answers['12'] = "Drama"
# +

In [40]:
data_copy_for_12 = data.copy()
data_copy_for_12.genres = data_copy_for_12.genres.str.split("|")

In [41]:
#------------------------------------------------------------------------------#
data_copy_for_12 = data_copy_for_12[data_copy_for_12.profit > 0]
counter_ = Counter() # создаем счетчик который будет считать наши жанры

for list_ in data_copy_for_12.genres: # и теперь проходимся по всем жанрам  
    counter_.update(Counter(list_)) # и обновляем наш счетчик

print("Ответ на вопрос №12.")
counter_.most_common(1)

Ответ на вопрос №12.

[('Drama', 560)]

# 13. У какого режиcсера самые большие суммарные кассовые сборы?

In [42]:
answers['13'] = "Peter Jackson"
# +

In [43]:
#  метод df_explode описан в проработке
data_copy_for_13 = df_explode(data, ['director']) #

In [44]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №13.")
data_copy_for_13[["director", "revenue"]].groupby("director").sum().\
                 sort_values("revenue", ascending=False).head(1)

Ответ на вопрос №13.

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режиссер снял больше всего фильмов в стиле Action?

In [45]:
answers['14'] = "Robert Rodriguez"
# +

In [46]:
# Метод df_explode описан в проработке
data_copy_for_14 = df_explode(data, ['director', 'genres'])

In [47]:
data_copy_for_14 = data_copy_for_14[data_copy_for_14["genres"] == "Action"]

In [48]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №14.")
data_copy_for_14[["director", "genres"]].groupby("director").count().\
                 sort_values(["genres"], ascending=False).head(1)

Ответ на вопрос №14.

                  genres
director
Robert Rodriguez       9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [49]:
answers['15'] = "Chris Hemsworth"
# +

In [50]:
#------------------------------------------------------------------------------#
#  метод df_explode описан в проработке
data_for_15 = df_explode(data, ["cast"])

In [51]:
print("Ответ на вопрос №15.")
data_for_15[data_for_15["release_year"] == 2012][["cast", "revenue"]]\
.groupby("cast").sum().sort_values("revenue", ascending=False).head(1)

Ответ на вопрос №15.

                    revenue
cast
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [52]:
answers['16'] = 'Matt Damon'
# +

In [53]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №16. Вариант №1")
#  метод df_explode описан в проработке
data_for_16 = df_explode(data, ["cast"])
data_for_16[data_for_16.budget >  data.budget.mean()][["cast", "imdb_id"]]\
           .groupby("cast").count().sort_values("imdb_id", ascending=False)\
           .head(1)

Ответ на вопрос №16. Вариант №1

            imdb_id
cast
Matt Damon       18

In [54]:
# Вариант 2

In [55]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №16. Вариант №2")
data_for_16[data_for_16.budget > data_for_16.budget.mean()]["cast"].mode(0)

Ответ на вопрос №16. Вариант №2

0    Matt Damon
dtype: object

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [56]:
answers['17'] = 'Action'
# +

In [57]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №17. Вариант №1")
#  метод df_explode описан в проработке
data_for_17 = df_explode(data,["cast", 'genres'])
data_for_17[data_for_17.cast == "Nicolas Cage"][["cast", "genres"]].groupby(
           "genres").count().sort_values("cast", ascending=False).head(1)

Ответ на вопрос №17. Вариант №1

        cast
genres
Action    17

In [58]:
# Вариант 2
print("Ответ на вопрос №17. Вариант №2")
data_for_17[data_for_17.cast == "Nicolas Cage"]["genres"].mode()[0]

Ответ на вопрос №17. Вариант №2

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [59]:
answers['18'] = '925.K-19: The Widowmaker(tt0267626)'
# +

In [60]:
#  метод df_explode описан в проработке
data_for_18 = df_explode(data, ['production_companies'])

In [61]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №18")
data_for_18[data_for_18.production_companies == "Paramount Pictures"]\
           [["imdb_id", "original_title", "profit"]].sort_values("profit")\
           .head(1)

Ответ на вопрос №18

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [62]:
answers['19'] = '2015'
# +

In [63]:
#------------------------------------------------------------------------------#
data_for_19 = data.copy()
print("Ответ на вопрос №19.")
data_for_19.groupby("release_year").sum()["revenue"]\
           .sort_values(ascending=False).head(1)

Ответ на вопрос №19.

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [64]:
answers['20'] = '2014'
# +

In [65]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №20. Вариант 1")
#  метод df_explode описан в проработке
data_for_20 = df_explode(data, ["production_companies"])
data_for_20[data_for_20["production_companies"].str.contains("Warner Bros")]\
            .groupby("release_year").sum()["profit"]\
            .sort_values(ascending=False).head(1)

Ответ на вопрос №20. Вариант 1

release_year
2014    2292949646
Name: profit, dtype: int64

In [66]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №20. Вариант 2")
data_for_20_ver2 = data.copy()
data_for_20[data_for_20["production_companies"].str.contains("Warner Bros")]\
                        .groupby("release_year").sum()["profit"].idxmax()

Ответ на вопрос №20. Вариант 2

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [67]:
answers['21'] = '9(сентябрь)'
# +

In [68]:
#------------------------------------------------------------------------------#
print('Ответ на вопрос №21.')
# метод string_to_date описан в проработке
data_for_21 = string_to_date(data)
data_for_21.groupby(data_for_21.release_date.dt.month).count().imdb_id\
           .sort_values(ascending=False).head(1)

Ответ на вопрос №21.

release_date
9    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [69]:
answers['22'] = '450'
# +

In [70]:
#------------------------------------------------------------------------------#
print('''Ответ на вопрос №22. Вариант 1. В данно решении прошу просто обратить
         вниамние на строки. Да бы больше не производить расчеты''')
# метод string_to_date описан в проработке
data_for_22 = string_to_date(data)
data_for_22[(data_for_22.release_date.dt.month < 9) & (5 < data_for_22
            .release_date.dt.month)].shape

Ответ на вопрос №22. Вариант 1. В данно решении прошу просто обратить
         вниамние на строки. Да бы больше не производить расчеты

(450, 15)

In [71]:
print("Ответ на вопрос №22. Вариант 2.")
data_for_22[(data_for_22.release_date.dt.month < 9) & (5 < data_for_22
            .release_date.dt.month)].count().head(1)

Ответ на вопрос №22. Вариант 2.

imdb_id    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [72]:
answers['23'] = 'Peter Jackson'
# +

In [73]:
# методы string_to_date и df_explode описаны в проработке
data_for_23 = string_to_date(data)
data_for_23 = df_explode(data_for_23, ["director"])

In [74]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №23.")
data_for_23[(data_for_23.release_date.dt.month==12)
           | (data_for_23.release_date.dt.month<3)].groupby("director")\
           .count().imdb_id.sort_values(ascending=False).head(1)

Ответ на вопрос №23.

director
Peter Jackson    7
Name: imdb_id, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [75]:
answers['24'] = 'Four By Two Productions'
# +

In [76]:
#------------------------------------------------------------------------------#
#  метод df_explode описан в проработке
data_for_24 = df_explode(data, ["production_companies"])
# Для решения задачи создадим дополнительную колонку - кол-во символо в названии 
data_for_24["original_title_len"] = data_for_24.original_title.str.len()
print("Ответ на вопрос №23.")
data_for_24.groupby("production_companies").mean().original_title_len.idxmax()

Ответ на вопрос №23.

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [85]:
answers['25'] = 'Midnight Picture Show'
# +

In [86]:
#------------------------------------------------------------------------------#
#  метод df_explode описан в проработке
data_for_25 = df_explode(data,["production_companies"])
# Для решения задачи создадим дополнительную колонку - кол-во слов в описании 
data_for_25["overview_len"] = data_for_25.overview.str.split(" ").str.len()
print("Ответ на вопрос №24.")
data_for_25.groupby("production_companies").mean().overview_len\
           .sort_values(ascending = False).head(1)

Ответ на вопрос №24.

production_companies
Midnight Picture Show    175.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [79]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [80]:
#------------------------------------------------------------------------------#
print("Ответ на вопрос №25.")
data[data.vote_average > data.vote_average.quantile(0.99)]\
     .sort_values('vote_average', ascending=False)\
     [["original_title","vote_average"]]

Ответ на вопрос №25.

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [81]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'
# +

In [87]:
#------------------------------------------------------------------------------#
# в процесе долгих размышлений алгоритм удалось сократить до нескольких строк
# Но думает он долго.....
cols = ['original_title', 'cast']
df1 = data[cols].copy()
# Сначала мы разделе наш общий стринг в лист. После к каждому значению листа
# пременим combinations и преобразуем в тип Counter. И под конец все суммируем
counter_reting = df1.cast.str.split('|').apply(lambda x:
                                       Counter(combinations(x, 2))).sum()
print("Ответ на задачу №27")
counter_reting.most_common(1)

Ответ на задачу №27

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [88]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (723)',
 '2': '1157.Gods and Generals (tt0279111)',
 '3': '768.Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239.Avatar(tt0499549)',
 '7': '1245.The Lone Ranger(tt1210819)',
 '8': '1478',
 '9': '599.The Dark Knight(tt0468569)',
 '10': '1245.The Lone Ranger(tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925.K-19: The Widowmaker(tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9(сентябрь)',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [89]:
# и убедиться что ни чего не пропустил)
len(answers)

27